<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CellController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CellController.My.MySettings.DBxConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
        <add name="CellController.My.MySettings.ApcsDBConnString" connectionString="Data Source=172.16.0.102;Initial Catalog=APCSDB;Persist Security Info=True;User ID=apcsdbuser" />
        <add name="CellController.My.MySettings.APCSDBConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=APCSDB;Persist Security Info=True;User ID=apcsdbuser"
            providerName="System.Data.SqlClient" />
        <add name="CellController.My.MySettings.StripMapDBConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=StripMapDB;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CellController.My.MySettings>
            <setting name="ProcessName" serializeAs="String">
                <value>DB</value>
            </setting>
            <setting name="MCType" serializeAs="String">
                <value>Canon-D10R</value>
            </setting>
            <setting name="EquipmentIP" serializeAs="String">
                <value>10.1.1.50</value>
            </setting>
            <setting name="EquipmentNo" serializeAs="String">
                <value>ME-99</value>
            </setting>
            <setting name="SecsConnStr" serializeAs="String">
                <value>Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=dbxuser</value>
            </setting>
            <setting name="SECS_nouse1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SECS_PortNumber" serializeAs="String">
                <value>5040</value>
            </setting>
            <setting name="SECS_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SECS_Nouse2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GEM_DeviceID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GEM_T3_Interval" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="GEM_T5_Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GEM_T6_Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GEM_T7_Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GEM_LinkTest_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GEM_LinkTest_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDC_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsProtocol_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsProtocolPort" serializeAs="String">
                <value>5040</value>
            </setting>
            <setting name="UserAuthenOP" serializeAs="String">
                <value>DB-OP</value>
            </setting>
            <setting name="UserAuthenGL" serializeAs="String">
                <value>DB-GL</value>
            </setting>
            <setting name="UserAdminPass" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="S1F13_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDISizable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDITableFrmDisable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDIQRSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrmProdTableInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmProdTableIDetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventReportEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkingSlipQRLenght" serializeAs="String">
                <value>332</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="WaferMappingUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersonAuthorization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasteType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SqlDepencyCon" serializeAs="String">
                <value>Data Source=172.16.0.102;Initial Catalog=DBx;User ID=sa;Password=5dcda45fc424*</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>1280x1024</value>
            </setting>
            <setting name="AutoLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompareFrameDiable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComparePreformDisable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialPortNo" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPortEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyMappingToMapDriver" serializeAs="String">
                <value>Z:</value>
            </setting>
            <setting name="CopyToMapDriverEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadMapBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColletCheckControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JigMcType" serializeAs="String">
                <value>ROHM/ASM</value>
            </setting>
        </CellController.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApcsWebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="JIGServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webserv.thematrix.net/apcscontrolsystem/apcswebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ApcsWebServiceSoap"
                contract="ServiceReference1.ApcsWebServiceSoap" name="ApcsWebServiceSoap" />
            <endpoint address="http://172.16.101.27/JIGAndToolingPartControlSystem/JIGService.asmx"
                binding="basicHttpBinding" bindingConfiguration="JIGServiceSoap"
                contract="JIGWebService.JIGServiceSoap" name="JIGServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
